@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.swiper-button-prev {
    color: gray;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid gray;
}
.swiper-button-prev::after {
    font-size: 13px;
    color: gray;
}
.swiper-button-next {
    color: gray;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid gray;
}
.swiper-button-next::after {
    font-size: 13px;
    color: gray;
}